<div class="row">
  <div class="grey-background columns small-12 text-center">
    <p>Here's the list of hardware we'll have at BostonHacks</p> 
    <!-- . Find the MLH or sponsor tables to rent hardware. -->
  </div>

  <div class="columns medium-12 small-12">
    <h2 class="hardware-title">
      <a href="https://mlh.io/hardware-lab" target="_blank" style="padding-left: 20px">MLH:</a>
    </h2>
  </div>

  <div class="columns medium-6 small-12">
    <ul class="hardware-list">
      <li>3 NEW Alienware Laptops</li>
      <li>1 Alienware X51 Desktop Set</li>
      <li>6 Amazon Echos</li>
      <li>2 Amazon Fire Phones</li>
      <li>9 Arduino 101s</li>
      <li>9 Base Shields</li>
      <li>1 Dell Inspiron Laptop</li>
      <li>2 Dell Monitor</li>
      <li>1 Dell XPS 13 2-in-1</li>
      <li>1 Dell XPS 13 Laptop (Ubuntu)</li>
      <li>2 Dell XPS 13 Laptops (Windows)</li>
    </ul>
  </div>
  <div class="columns medium-6 small-12">
    <ul class="hardware-list">
      <li>1 Grove Starter Kit</li>
      <li>15 Intel Edisons</li>
      <li>1 Intel Starter Kit</li>
      <li>5 Leap Motions</li>
      <li>1 Muse Headband</li>
      <li>6 Oculus Rifts</li>
      <li>6 Pebble Times</li>
      <li>4 Samsung Gear VRs</li>
    </ul>
  </div>
</div>




