<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Are there any rules?</div>
        <div class="text">
            <div class= "text-wrapper">
                We want to ensure a positive experience for every participant. We encourage you to read our <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>.
            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
        <div class="title">Can we form teams?</div>
        <div class="text">
            <div class= "text-wrapper">
                Of course you can! We encourage people to work in teams of up to 4 people. You can work alone, but it won't be the same :)
            </div>
        </div>
    </span>
</div>
<div class="questions columns text-center small-12">
    <span class="faq-question" onclick="faq(this)">
    <div class="title">How/When do I need to submit my project?</div>
    <div class="text">
        <div class= "text-wrapper">
            All projects will need to be submitted on Devpost by 10am on Sunday, although you can continue to work on your demonstration after you submit.
        </div>
    </div>
</div>

<div class="column spacer"></div>

</div>
<div class="info column small-12 text-center">
    <div class="grey-background text-center grey-background">
        <h1>Other Useful Information</h1>
        <div class="text-left">

            <div>
                <b>Wifi:</b> BU Events Guest
            </div>
            <div>
                <b>Password:</b> "H4ckAth0n2017!"
            </div>
            
            <br>
            
            <div>
                <a href="https://bostonhacks17.slack.com/messages/mentors/">
                    <i class="fa fa-question"></i>&nbsp; Mentors</a>
            </div>
            <div>
                <a href="https://bostonhacks17.slack.com/messages/help/">
                    <i class="fa fa-child"></i>&nbsp; Help</a>
            </div>
            <div>
                <a href="https://bostonhacks-s-2017.devpost.com/">
                    <i class="fa fa-cog"></i>&nbsp; Project Submission (Devpost)</a>
            </div>
        </div>
    </div>
</div>

<br>
