<div class="row text-center grey-background">
    <a href="judging.html"><h1>Floor map for judging</h1></a>
</div>
<div class="row text-center">
    <h2>George Sherman Union</h2>
    <div class="columns floors-buttons small-3 medium-5 text-right">
        <div class="row" id="3" onmouseover="map(this.id)" onclick="map(this.id)">THIRD<br>FLOOR</div>
        <div class="row active" id="2" onmouseover="map(this.id)" onclick="map(this.id)">SECOND<br>FLOOR</div>
        <div class="row" id="1" onmouseover="map(this.id)" onclick="map(this.id)">FIRST<br>FLOOR</div>
        <div class="row" id="0" onmouseover="map(this.id)" onclick="map(this.id)">BASE<br>MENT</div>
    </div>
    <div class="columns floors small-9 medium-7 text-left">
        <div><img src="../assets/images/floor0.png"></div>
        <div><img src="../assets/images/floor1.png"></div>
        <div class="active"><img src="../assets/images/floor2.png"></div>
        <div><img src="../assets/images/floor3.png"></div>
    </div>
</div>
<div class="row mapkey">
    <div class="columns text-right small-6">
        <img src="../assets/images/mapkey0.png">
    </div>
    <div class="columns text-left small-6">
        <img src="../assets/images/mapkey1.png">
    </div>
</div>
<div class="row locations">
    <div class="grey-background columns small-12 text-center">
        <p>Main hackathon events will be taking place in the George Sherman Union (GSU). A more in depth map is below.<br>
        Opening and closing ceremonies will take place in the Law Building Auditorium (LAW).</p>
        <img src="../assets/images/map_gsu_law.png">
    </div>
</div>
