<!-- <div class="row text-center grey-background">
    <a href="judging.html"><h1>Floor map for judging</h1></a>
</div>
 -->

<div class="row text-center">
    <h2>George Sherman Union</h2>
    <div class="columns floors-buttons small-3 medium-5 text-right">
        <div class="row" id="3" onclick="map(this.id)">THIRD<br>FLOOR</div>
        <div class="row active" id="2" onclick="map(this.id)">SECOND<br>FLOOR</div>
        <div class="row" id="1" onclick="map(this.id)">FIRST<br>FLOOR</div>
        <div class="row" id="0" onclick="map(this.id)">BASE<br>MENT</div>
    </div>
    <div class="columns floors small-9 medium-7 text-left">
        <div><img src="img/floor0.jpg"></div>
        <div><img src="img/floor1.jpg"></div>
        <div class="active"><img src="img/floor2.jpg"></div>
        <div><img src="img/floor3.jpg"></div>
    </div>
</div>
<div class="row mapkey" style = "padding-top: 20px;">
    <div class="columns text-right small-6">
        <img src="img/legend1.jpg">
    </div>
    <div class="columns text-left small-6">
        <img src="img/legend2.jpg">
    </div>
</div>

