<div class="row">
   <div class="grey-background columns medium-8 small-12 small-centered">
        <ul class="travel-list">
            <h2 class="text-center">Destination (put this in your GPS)</h2>
            <li><i class="fa fa-map-marker"></i>&nbsp; 775 Commonwealth Avenue, Boston, MA, 02215</li>
            <li><i class="fa fa-building"></i>&nbsp; George Sherman Union, 2nd Floor in Metcalf Hall</li>
            <a target="_blank" href="../assets/docs/GeneralTravelDocument.pdf"><li><i class="fa fa-info-circle"></i>&nbsp; General travel document</li></a>
        </ul>
   </div>
</div>
<div class="smaller-row row">
    <div class="columns medium-12 small-12">
        <h2><i class="fa fa-car"></i>&nbsp; Parking</h2>
        <p>Park at 808 Commonwealth Avenue's parking lot. 
        <!-- You will have to pay $12 for the day or $24 overnight, and this will be reimbursed by check in 1-2 weeks. Keep the parking receipt. -->
        </p>
    </div>
</div>
