<!DOCTYPE html>
<html>

<% include partials/head %>

<body>
    <div class="section-title text-center">
        <div class="page-title">HOME</div>
    </div>

    <section class="home row">
        <% include partials/home %>
    </section>

    <section class="map" style="display: none">
        <% include partials/map %>
    </section>

    <section class="schedule" style="display: none">
        <% include partials/schedule %>
    </section>

    <section class="hardware" style="display: none">
        <% include partials/hardware %>
    </section>

    <section class="travel" style="display: none">
        <% include partials/travel %>
    </section>

    <section class="judging" style="display: none">
        <% include partials/judging %>
    </section>

</body>

<br>
<% include partials/footer %>

</html>
